footer.bg-color(style="--bgColor:var(--grey4);")
  nav
    ul
      li
        a(href="mentions-legales.html") Mentions légales
      li
        a(target="_blank" href="#broken") Liens brisés
      li
        a(target="_blank" href="https://xd.adobe.com/view/49efac0c-af6a-4a56-b7aa-089b35263ad6-1cbc/") Lien XD