footer.bg-color(style="--bgColor:var(--grey4);")
  nav
    ul
      li
        a(href="mentions-legales.html") Mentions légales
      li
        a(target="_blank" href="#") Contact
      li
        a.contrast(href="#") Contraste