include _mixins.pug
block layoutVariables

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Autonomie 64 - Les super héros sont pafois discrets : " + headTitle)
    meta(name="Language" content="fr")
    title #{headTitle}
    +favicons
    link(rel="stylesheet" href='https://use.typekit.net/pfi2qlq.css')
    link(rel="stylesheet" href='assets_am-64/styles.css')
      
  body(class=(bodyClass || 'notwork'))
  
    header.pt-1.pb-1
      if bodyClass != 'home'
        span.superheros-text.blacker.block
          a(href="/") Les super héros sont parfois discrets
      include _main-menu.pug
      span.toggle-menu.block
        div
        div
      div.access-64-mobile
        +access_64
      
    block content  
    
    a.scroll-to-top(title="Remonter en haut de page" href="#")
    
    include _footer.pug
    script(src="assets_am-64/app.js")