include _mixins.pug
block layoutVariables

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{headTitle}
    link(rel="stylesheet" href='https://use.typekit.net/pfi2qlq.css')
    link(rel="stylesheet" href='styles.css')
      
  body(class=(bodyClass || 'notwork'))
  
    header.pt-1.pb-1
      if bodyClass != 'home'
        span.superheros-text.blacker.mb-1.block Les Super-héros sont parfois discrets
      include _main-menu.pug
      
    block content  
    
    include _footer.pug