nav
  ul.main-menu
    //- li
    //-   a(href="/") Home
    li
      a(href="decouvrir.html") Découvrir
    li
      a(href="se-former.html") Se former
    li
      a(href="exercer.html") Exercer
  +access_64