nav
  ul.main-menu
    //- li
    //-   a(href="/") Home
    li
      a(href="decouvrir.html") Découvrir
    li
      a(href="se-former.html") Se former
    li
      a(href="exercer.html") Exercer
  span.site-64
    a(alt="Site Autonomie 64" target="_blank" href="http://www.autonomie64.fr/")
      span Pour retrouver le site complet <br> 
        span.purple2.uppercase Autonomie 64, cliquez ici
      include ../assets/logo-64.svg