mixin video(id, h, width, height)
  - var src = 'https://player.vimeo.com/video/' + id + '?h=' + h
  - var paddingT = 'padding-top:' + (height * 100 / width) + '%'
  div.video(style=paddingT)
    iframe(src=src)
    
mixin download(link)
  a(target="_blank" href=link).download
    span Télécharger la fiche
    div.svg-bg
    
mixin superheros
  h2.superheros
    span.blacker.block Les 
    span.cooper.block.bigger-x200.purple2 super
    span.cooper.block.bigger-x200.purple2.l-spaced héros 
    span.blacker.block sont parfois 
    span.cooper.block.bigger-x125.purple2 discrets