mixin video(id, h, width, height, altText)
  - var src = 'https://player.vimeo.com/video/' + id + '?h=' + h
  - var paddingT = 'padding-top:' + (height * 100 / width) + '%'
  div.video(style=paddingT)
    iframe(src=src title=altText)
    
mixin download(link)
  a(target="_blank" href=link).download
    span Télécharger la fiche
    div.svg-bg
    
mixin superheros
  h2.superheros
    span.blacker.block Les 
    span.cooper.block.bigger-x200.purple2 super
    span.cooper.block.bigger-x200.purple2.l-spaced héros 
    span.blacker.block sont parfois 
    span.cooper.block.bigger-x125.purple2 discrets
mixin access_64
  span.site-64
    a(alt="Site Autonomie 64" target="_blank" href="http://plateforme.autonomie64.fr/")
      span Pour retrouver le site complet <br> 
        span.purple2.uppercase Autonomie 64, cliquez ici
      include ../assets/logo-64.svg
mixin favicons
  <link rel="apple-touch-icon" sizes="180x180" href="assets_am-64/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets_am-64/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets_am-64/favicons/favicon-16x16.png">
  <link rel="manifest" href="assets_am-64/favicons/site.webmanifest">
  <link rel="mask-icon" href="assets_am-64/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">