extends _layout.pug
  
block layoutVariables
  - var headTitle = "Découvrir les métiers de l'autonomie"
  - var bodyClass = "decouvrir"
  
block content
  main
    section.pt-3.bg-color(style="--bgColor:var(--green3);")
      article
        h1.mb-3
          span.white.cooper.bigger-x250 Découvrir
          span les métiers<br>de l'autonomie 
        p.offset
          strong.blue3 Tout comme Audrey, Malika ou Benoît près de 150.000 professionnels en Nouvelle-Aquitaine ont fait le choix d&#39;exercer un #[span.under(style="--underColor:var(--purple1)") #[span métier porteur de sens]], qui répond à une nécessité majeure :
        p.offset Accompagner et prendre soin des personnes comme Eugénie, Raymond ou Dolores qui ont besoin de vous pour bien vieillir dans l&#39;environnement de leur choix, à la maison ou en établissement auprès d&#39;une équipe qualifiée et bienveillante.
        +video('598886019', '0c81472531', 640, 360, "Découvrir les métiers de l'autonomie")
      include ../../dist/assets/bg/top-L2R-5.svg
    section.pt-3.pb-3.bg-color(style="--bgColor:var(--grey1);")
      article
        p.offset Dans les Pyrénées Atlantiques, #[strong tout près de chez vous, plus de 300 établissements et services médico-sociaux] (services d&#39;aide à domicile, EHPAD, services de soins à domicile et établissements pour adultes handicapés…) sont à la recherche de nouveaux professionnels qui souhaitent s&#39;engager dans ces métiers d&#39;avenir.
        p.mt-3
          strong.bigger-x150.blue3 Le secteur offre une #[span.under #[span large palette de métiers]]. Nous vous proposons de découvrir les métiers pour lesquels les besoins sont les plus urgents.
      div.card
        h2.green-star
          span.block.blacker Les métiers
          span.block.cooper.bigger-x125 à domicile
        article
          img.mb-3.shadow(alt="Les metiers à domicile" src="assets/imgs/autonomie-64-decouvrir-metiers-a-domicile.jpg")
          p Les métiers de l&#39;accompagnement à domicile auprès des personnes en perte d&#39;autonomie s&#39;exercent principalement dans des services d&#39;aide à domicile, qu&#39;ils soient médicalisés ou non. Ils assurent les soins et l&#39;accompagnement aux actes de la vie quotidienne nécessaires à leur choix de vieillir chez eux aussi longtemps que possible. Sur le département, près de 130 services - #[strong service d&#39;aide et d&#39;accompagnement à domicile] (SAAD) et #[strong services de soins infirmiers à domicile] (SSIAD) entre autres- recherchent régulièrement des professionnels qualifiés et engagés.
          p 
            strong Pour autant, certains métiers sont actuellement très recherchés comme aide à domicile ou aide-soignant et infirmier à domicile.
        article
          h3.h2.strong.blue3 Aide à domicile
          p Les aides à domicile interviennent au domicile des personnes âgées ou handicapées en perte d&#39;autonomie le plus souvent dans le cadre d&#39;un plan d&#39;aide.
          +download('pdf/64-autonomie-FM-aide-domicile-211101.pdf')
        article
          h3.h2.strong.blue3 Accompagnant éducatif et social
          p L&#39;accompagnant éducatif et social aide au quotidien les personnes âgées vulnérables ou en situation de handicap, entre autres.
          +download('pdf/64-autonomie-FM-aes-211101.pdf')
        article
          h3.h2.strong.blue3 Aide-soignant
          p Proche des personnes auprès desquelles il intervient au quotidien, l&#39;aide-soignant est le collaborateur de l&#39;infirmier.
          +download('pdf/64-autonomie-FM-aide-soignant-211101.pdf')
        article
          h3.h2.strong.blue3 Infirmier à domicile
          p L&#39;infirmier, qu&#39;il exerce en établissement ou au sein d&#39;un Service de Soins à Domicile (SSIAD), évolue au sein d&#39;une équipe pluridisciplinaire.
          +download('pdf/64-autonomie-FM-IDE-211101.pdf')
      
    section.pt-3.pb-3.bg-color(style="--bgColor:var(--grey1);")
      div.wrapper
        h2.green-star
          span.block.blacker Les métiers
          span.block.cooper.bigger-x125 en établissement<br> médico-social (ESMS)
        
        article
          div.images
            img.mb-3.shadow(alt="Les métiers en établissement médico-social" src="assets/imgs/autonomie-64-decouvrir-metiers-ESMS-1.jpg")
            img.mb-3.shadow(alt="Les métiers en établissement médico-social" src="assets/imgs/autonomie-64-decouvrir-metiers-ESMS-2.jpg")
          div.textes
            p Lorsque qu&#39;un accompagnement à domicile n&#39;est plus possible ou souhaité, un accompagnement en établissement pour #[strong personne âgée ou handicapée] devient nécessaire pour répondre pleinement à leurs besoins. Le secteur offre une large palette de métiers : il existe, en dehors des soins médicaux et paramédicaux, un accompagnement social, dans un environnement « hôtelier » impliquant diverses fonctions logistiques et techniques (blanchisserie, restauration, maintenance technique, hygiène et sécurité…) ainsi qu&#39;administratives (accueil, comptabilité paie, ressources humaines, qualité…).
            p En Pyrénées Atlantiques, plus d&#39;une centaine d&#39;établissements d&#39;hébergement pour personnes âgées Dépendantes (EHPAD) proposent régulièrement des postes sur ces différents métiers.
            p
              strong Pour autant, certains métiers sont actuellement très recherchés comme les infirmiers, les aides-soignants, les accompagnants éducatifs et sociaux, les agents des services hôteliers.
        article
          h3.h2.strong.blue3 Agent des services hôteliers
          p L&#39;agent de service hôtelier joue un rôle clé dans le bien-être et le confort des personnes auprès desquelles il intervient.
          +download('pdf/64-autonomie-FM-ASH-211101.pdf')
        article
          h3.h2.strong.blue3 Accompagnant éducatif social
          p L&#39;accompagnant éducatif et social aide au quotidien les personnes âgées vulnérables ou en situation de handicap entre autres.
          +download('pdf/64-autonomie-FM-aes-211101.pdf')
        article
          h3.h2.strong.blue3 Aide-soignant
          p Proche des personnes auprès desquelles il intervient au quotidien, l&#39;aide-soignant est le collaborateur de l&#39;infirmier.
          +download('pdf/64-autonomie-FM-aide-soignant-211101.pdf')
        article
          h3.h2.strong.blue3 Infirmier
          p L&#39;infirmier, qu&#39;il exerce en établissement ou au sein d&#39;un service de soins à domicile (SSIAD), évolue au sein d&#39;une équipe pluridisciplinaire.
          +download('pdf/64-autonomie-FM-IDE-211101.pdf')
        article
          h3.h2.strong.blue3 Educateur spécialisé
          p L&#39;éducateur spécialisé anime et participe à l&#39;organisation de la vie quotidienne des personnes accompagnées, tout en développant, préservant, ou restaurant, leur autonomie, leur inclusion professionnelle et sociale.
          +download('pdf/64-autonomie-FM-educ-spe-211101.pdf')
        article
          h3.h2.strong.blue3 Moniteur éducateur
          p Le moniteur éducateur veille à l&#39;épanouissement des personnes handicapées qu&#39;il accompagne, développe leurs capacités d&#39;adaptation et les aide à accomplir les gestes de la vie quotidienne.
          +download('pdf/64-autonomie-FM-moniteur-educateur-211101.pdf')

    section.pb-1.bg-color(style="--bgColor:var(--grey1);")
      article.pt-3.pb-3.pl-3
        a.ml-3.btn.big-btn(href='se-former.html#aides')
          span.block.condensed Découvrir les 
          span.block.cooper aides pour se former
          
  aside
    div.pt-3.pb-3.bg-color(style="--bgColor:var(--grey1);")
      section.bg-color(style="--bgColor:var(--green3);")
        include ../../dist/assets/bg/top-R2L-10.svg
        +superheros
        article
          a(title="Rencontre avec Audrey" target="_blank" href='#')
            img.shadow.mb-1(alt="Rencontre avec Audrey" src='assets/imgs/autonomie-64-rencontre-audrey.jpg')
          div.textes
            h3.white.condensed.bigger-x150 RENCONTRE AVEC<br> #[span.inverted.bigger-x125 AUDREY]
            p.strong.blue3 Aide à domicile à Oloron Sainte-Marie
        article
          a(title="Rencontre avec Benoît" target="_blank" href='#')
            img.shadow.mb-1(alt="Rencontre avec Benoît" src='assets/imgs/autonomie-64-rencontre-benoit.jpg')
          div.textes
            h3.white.condensed.bigger-x150 RENCONTRE AVEC<br> #[span.inverted.bigger-x125 BENOÎT]
            p.strong.blue3 Aide-soignant à Arcangues
        article
          a(title="Rencontre avec Malika" target="_blank" href='#')
            img.shadow.mb-1(alt="Rencontre avec Malika" src='assets/imgs/autonomie-64-rencontre-malika.jpg')
          div.textes
            h3.white.condensed.bigger-x150 RENCONTRE AVEC<br> #[span.inverted.bigger-x125 MALIKA]
            p.strong.blue3 Aide-soignante à Pau
        include ../../dist/assets/bg/top-L2R-10.svg