extends _layout.pug
  
block layoutVariables
  - var headTitle = "Découvrir les métiers de l'autonomie"
  - var bodyClass = "decouvrir"
  
block content
  main
    section
      article
        h2
          span Découvrir
          span les métiers 
          span de l'autonomie 
        include ../content/p1-a1.html
        +video('598886019', '0c81472531', 640, 360)
        include ../content/p1-a2.html
        include ../content/p1-a3.html
    
    section
      article
        h2
          span Les métiers
          span à domicile
        include ../content/p1-a4.html
      article
        h3 Aide à domicile
        p Les aides à domicile interviennent au domicile des personnes âgées ou handicapées en perte d&#39;autonomie le plus souvent dans le cadre d&#39;un plan d&#39;aide.
        +download('#')
      article
        h3 Accompagnant éducatif et social
        p L&#39;accompagnant éducatif et social aide au quotidien les personnes âgées vulnérables ou en situation de handicap, entre autres.
        +download('#')
      article
        h3 Aide-soignant
        p Proche des personnes auprès desquelles il intervient au quotidien, l&#39;aide-soignant est le collaborateur de l&#39;infirmier.
        +download('#')
      article
        h3 Infirmier à domicile
        p L&#39;infirmier, qu&#39;il exerce en établissement ou au sein d&#39;un Service de Soins à Domicile (SSIAD), évolue au sein d&#39;une équipe pluridisciplinaire.
        +download('#')