extends _layout.pug

block title
  title Découvrir les métiers de l'autonomie 
  
block content
  main
    section
      article
        h2
          span Découvrir
          span les métiers 
          span de l'autonomie 
        include ../content/p1-a1.html
        <iframe src="https://player.vimeo.com/video/598886019?h=0c81472531" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
