extends _layout.pug
  
block layoutVariables
  - var headTitle = "Découvrir les métiers de l'autonomie"
  - var bodyClass = "decouvrir"
  
block content
  main
    section
      article
        h2
          span Découvrir
          span les métiers 
          span de l'autonomie 
        include ../content/p1-a1.html
        +video('598886019', '0c81472531', 640, 360)