extends _layout.pug
  
block layoutVariables
  - var headTitle = "Découvrir les métiers de l'autonomie"
  - var bodyClass = "decouvrir"
  
block content
  main
    section
      article
        h1
          span Découvrir
          span les métiers<br>de l'autonomie 
        p
          strong Tout comme Audrey, Malika ou Benoît près de 150.000 professionnels en Nouvelle-Aquitaine ont fait le choix d&#39;exercer un métier porteur de sens, qui répond à une nécessité majeure :
        p Accompagner et prendre soin des personnes comme Eugénie, Raymond ou Dolores qui ont besoin de vous pour bien vieillir dans l&#39;environnement de leur choix, à la maison ou en établissement auprès d&#39;une équipe qualifiée et bienveillante.
        
        +video('598886019', '0c81472531', 640, 360)
        
        p Dans les Pyrénées Atlantiques, #[strong tout près de chez vous, plus de 300 établissements et services médico-sociaux] (services d&#39;aide à domicile, EHPAD, services de soins à domicile et établissements pour adultes handicapés…) sont à la recherche de nouveaux professionnels qui souhaitent s&#39;engager dans ces métiers d&#39;avenir.
        p
          strong Le secteur offre une large palette de métiers. Nous vous proposons de découvrir les métiers pour lesquels les besoins sont les plus urgents.
    
    section
      article
        h2
          span Les métiers
          span à domicile
        p Les métiers de l&#39;accompagnement à domicile auprès des personnes en perte d&#39;autonomie s&#39;exercent principalement dans des services d&#39;aide à domicile, qu&#39;ils soient médicalisés ou non. Ils assurent les soins et l&#39;accompagnement aux actes de la vie quotidienne nécessaires à leur choix de vieillir chez eux aussi longtemps que possible. Sur le département, près de 130 services - #[strong service d&#39;aide et d&#39;accompagnement à domicile] (SAAD) et #[strong services de soins infirmiers à domicile] (SSIAD) entre autres- recherchent régulièrement des professionnels qualifiés et engagés.
        p 
          strong Pour autant, certains métiers sont actuellement très recherchés comme aide à domicile ou aide-soignant et infirmier à domicile.
      article
        h3 Aide à domicile
        p Les aides à domicile interviennent au domicile des personnes âgées ou handicapées en perte d&#39;autonomie le plus souvent dans le cadre d&#39;un plan d&#39;aide.
        +download('#')
      article
        h3 Accompagnant éducatif et social
        p L&#39;accompagnant éducatif et social aide au quotidien les personnes âgées vulnérables ou en situation de handicap, entre autres.
        +download('#')
      article
        h3 Aide-soignant
        p Proche des personnes auprès desquelles il intervient au quotidien, l&#39;aide-soignant est le collaborateur de l&#39;infirmier.
        +download('#')
      article
        h3 Infirmier à domicile
        p L&#39;infirmier, qu&#39;il exerce en établissement ou au sein d&#39;un Service de Soins à Domicile (SSIAD), évolue au sein d&#39;une équipe pluridisciplinaire.
        +download('#')
      
    section
      h2
        span Les métiers
        span en établissement médico-social (ESMS)
      
      article
        p Lorsque qu&#39;un accompagnement à domicile n&#39;est plus possible ou souhaité, un accompagnement en établissement pour #[strong personne âgée ou handicapée] devient nécessaire pour répondre pleinement à leurs besoins. Le secteur offre une large palette de métiers : il existe, en dehors des soins médicaux et paramédicaux, un accompagnement social, dans un environnement « hôtelier » impliquant diverses fonctions logistiques et techniques (blanchisserie, restauration, maintenance technique, hygiène et sécurité…) ainsi qu&#39;administratives (accueil, comptabilité paie, ressources humaines, qualité…).
        p En Pyrénées Atlantiques, plus d&#39;une centaine d&#39;établissements d&#39;hébergement pour personnes âgées Dépendantes (EHPAD) proposent régulièrement des postes sur ces différents métiers.
        p
          strong Pour autant, certains métiers sont actuellement très recherchés comme les infirmiers, les aides-soignants, les accompagnants éducatifs et sociaux, les agents des services hôteliers.
      article
        h3 Agent des services hôteliers
        p L&#39;agent de service hôtelier joue un rôle clé dans le bien-être et le confort des personnes auprès desquelles il intervient.
        +download('local_doc/FM%20ASH.docx')
      article
        h3 Accompagnant éducatif social
        p L&#39;accompagnant éducatif et social aide au quotidien les personnes âgées vulnérables ou en situation de handicap entre autres.
        +download('local_doc/FM%20AES.docx')
      article
        h3 Aide-soignant
        p Proche des personnes auprès desquelles il intervient au quotidien, l&#39;aide-soignant est le collaborateur de l&#39;infirmier.
        +download('#')
      article
        h3 Infirmier
        p L&#39;infirmier, qu&#39;il exerce en établissement ou au sein d&#39;un service de soins à domicile (SSIAD), évolue au sein d&#39;une équipe pluridisciplinaire.
        +download('local_doc/FM%20IDE.docx')
      article
        h3 Educateur spécialisé
        p L&#39;éducateur spécialisé anime et participe à l&#39;organisation de la vie quotidienne des personnes accompagnées, tout en développant, préservant, ou restaurant, leur autonomie, leur inclusion professionnelle et sociale.
        +download('local_doc/FM%20Educ%20Sp%C3%A9%20V1.docx')
      article
        h3 Moniteur éducateur
        p Le moniteur éducateur veille à l&#39;épanouissement des personnes handicapées qu&#39;il accompagne, développe leurs capacités d&#39;adaptation et les aide à accomplir les gestes de la vie quotidienne.
        +download('local_doc/FM%20Moniteur%20educateur.docx')

    section
      article
        a(href='#')
          span Découvrir les 
          span aides pour se former
          
  aside
    section
      +superheros
      article
        a(href='#')
          img(src='')
        h3 RENCONTRE AVEC #[span AUDREY]
        p Aide à domicile à Oloron Sainte-Marie
      article
        a(href='#')
          img(src='')
        h3 RENCONTRE AVEC #[span BENOÎT]
        p Aide-soignant à Arcangues
      article
        a(href='#')
          img(src='')
        h3 RENCONTRE AVEC #[span MALIKA]
        p Aide-soignante à Pau
    