extends _layout.pug

block layoutVariables
  - var headTitle = "Exercer les métiers de l'autonomie"
  - var bodyClass = "exercer"
  
block content
  main
    section.pt-3.bg-color(style="--bgColor:var(--blue1);")
      article
        h1.mb-3
          span.white.cooper.bigger-x250 Exercer 
          span les métiers<br>de l'autonomie
        p.offset
         strong.blue3 Tout comme Audrey, Malika ou Benoît près de 150.000 professionnels en Nouvelle-Aquitaine ont fait le choix d&#39;exercer un métier porteur de sens, qui répond à une nécessité majeure.
      article
        h2.green-star
          span.block.cooper.bigger-x125 A Domicile
        p.offset.white Les métiers de l&#39;accompagnement à domicile auprès des personnes en perte d&#39;autonomie s&#39;exercent principalement dans des services d&#39;aide à domicile, qu&#39;ils soient médicalisés ou non.<br>Ils assurent les soins et l&#39;accompagnement aux actes de la vie quotidienne nécessaires à leur choix de vieillir chez eux aussi longtemps que possible. Sur le département, près de 130 services - #[strong service d&#39;aide et d&#39;accompagnement à domicile] (SAAD) et #[strong services de soins infirmiers à domicile] (SSIAD) - recherchent régulièrement des professionnels qualifiés et engagés.
        a.offset.btn.condensed(href="decouvrir.html") Découvrir les métiers
        p
          strong.blue3.bigger-x150 Pour autant, certains métiers sont #[span.under #[span actuellement très recherchés]] comme aide à domicile (SAAD), aide-soignant et infirmier à domicile (SSIAD).
      include ../../dist/assets_am-64/bg/top-L2R-5.svg
    section.pt-3.pb-3
      article
        h2.green-star
          span.block.cooper.bigger-x125 En Etablissement
        div.image
          img.mb-3.shadow(alt="Exercer en établissement" src="assets_am-64/imgs/autonomie-64-exercer.jpg")
        div.textes
          p Lorsque qu&#39;un accompagnement à domicile n&#39;est plus possible ou souhaité, un accompagnement en établissement pour #[strong personne âgée ou handicapée] devient nécessaire pour répondre pleinement à leurs besoins.
          p Une large palette de métiers y est offerte puisqu&#39;on y propose, en dehors des soins médicaux et paramédicaux, un accompagnement social, dans un environnement « hôtelier » impliquant diverses fonctions logistiques et techniques (blanchisserie, restauration, maintenance techniques, hygiène et sécurité…) ainsi qu&#39;administratives (accueil, comptabilité paie, ressources humaines, qualité…). En Pyrénées-Atlantiques, plus d&#39;une centaine d&#39;établissements (EHPAD, et établissements du handicap) proposent régulièrement des emplois sur ces différents métiers.
          a.btn.condensed(href="decouvrir.html") Découvrir les métiers
        p
          strong.blue3.bigger-x150 Pour autant, certains métiers sont #[span.under #[span actuellement très recherchés]] comme les infirmiers, les aides-soignants, les accompagnants éducatifs et sociaux, les agents des services hôteliers.
      article.pt-3.offset-10
        h3 
          span.yellow-tick
          span.inverted.green Diffuser son CV par l&#39;intermédiaire
          span.yellow-tick.dont
          span.inverted.green des Réseaux D&#39;Etablissements &amp; Services Médicosociaux (ESMS) :
        ul
          li #[strong Réseau EHPAD Pays Basque (REPB) :] #[a(target="_blank" href='https://reseau-ehpad-paysbasque.org/cvtheque/') CV thèque - Réseau EHPAD Pays Basque]
          li #[strong Réseau des EHPAD Béarn et Soule (REBS) :]  #[a(target="_blank" href='mailto:coordinationrebs@gmail.com') coordinationrebs@gmail.com]
          li #[strong Réseau des Directeurs SSIAD et SPASAD 64  :] #[a(target="_blank" href='mailto:arsspa64@gmail.com') arsspa64@gmail.com]
          li #[strong Groupement Employeurs 64  :] #[a(target="_blank" href='https://ge64.fr/salaries-candidats/inscription-ge64/') Candidats, salariés : inscrivez-vous au GE64 !]
    section.bg-color(style="--bgColor:var(--blue1);")
      include ../../dist/assets_am-64/bg/top-R2L-3.svg
      article
        
        h3.h2.strong.blue3 Intervenir au sein d&#39;un groupement d&#39;employeurs
        p.white En dehors des établissements et services qui peuvent recruter directement, il est aussi possible de faire le choix de travailler au sein d&#39;un #[strong groupement d&#39;employeurs (GE)] qui permet le recrutementde professionnels intervenant sur plusieurs structures de façon régulière ou bien dans l&#39;objectif de répondre à des besoins de remplacements occasionnels. En Pyrénées-Atlantiques, le #[a(target="_blank" href='https://rh.ge64.fr/offres-emploi?poste=IDE&amp;zone=&amp;contrat=') GE64] recrute régulièrement des professionnels pour intervenir en établissements ou services médico-sociaux.
      //- article
      //-   h3.h2.strong.blue3 Intervenir par le biais d&#39;une agence d&#39;intérim spécialisée
      //-   p.white Les établissements et services recourent couramment aux agences d&#39;intérim pour assurer des remplacements plus ou moins longs, parfois dans l&#39;urgence. Il est également possible dans certaines agences d&#39;y exercer un CDI et d&#39;intervenir dans plusieurs structures sur une base régulière.
      //-   ul.white.condensed
      //-     li
      //-       a(target="_blank" href='https://www.adecco.fr/medical/') ADECCO MEDICAL
      //-     li
      //-       a(target="_blank" href='https://www.appelmedical.com/emploi/pyrenees-atlantiques_64/id=7/') APPEL MEDICAL
      //-     li
      //-       a(target="_blank" href='https://oxygene-interim.fr/index.php/medical/') OXYGENE MEDICAL
      include ../../dist/assets_am-64/bg/top-R2L-3.svg
    section.bg-color(style="--bgColor:var(--grey1);")
      article.p-3.bg-color(style="--bgColor:var(--white);")
        h2.purple-star
          span.block.blacker Consulter les 
          span.block.cooper.bigger-x125 offres d&#39;emploi
        ul.pl-1
          li #[strong Aide-soignant (AS)]<br>#[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/aide-soignant/pyrenees-atlantiques/s36m3d64') https://candidat.pole-emploi.fr/offres/emploi/aide-soignant/pyrenees-atlantiques/s36m3d64]
          li #[strong Aide à domicile] <br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/aide-soignant/pyrenees-atlantiques/s36m3d64') https://candidat.pole-emploi.fr/offres/emploi/aide-soignant/pyrenees-atlantiques/s36m3d64]
          li #[strong Auxiliaire de vie (AVS)] <br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/auxiliaire-de-vie/pyrenees-atlantiques/s41m5d64') https://candidat.pole-emploi.fr/offres/emploi/auxiliaire-de-vie/pyrenees-atlantiques/s41m5d64]
          li #[strong Accompagnant éducatif et social (AES)]<br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/accompagnant-educatif-et-social/pyrenees-atlantiques/s38m6d64') https://candidat.pole-emploi.fr/offres/emploi/accompagnant-educatif-et-social/pyrenees-atlantiques/s38m6d64]
          li #[strong Infirmier (IDE) en EHPAD] <br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/recherche?lieux=64D&amp;motsCles=Infirmier+en+ehpad&amp;offresPartenaires=true&amp;rayon=10&amp;tri=0') https://candidat.pole-emploi.fr/offres/recherche?lieux=64D&amp;motsCles=Infirmier+en+ehpad&amp;offresPartenaires=true&amp;rayon=10&amp;tri=0]
          li #[strong Agent des services hôtelier/hospitalier (ASH)] <br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/recherche?lieux=64D&amp;motsCles=ASH&amp;offresPartenaires=true&amp;range=0-19&amp;rayon=10&amp;tri=0') https://candidat.pole-emploi.fr/offres/recherche?lieux=64D&amp;motsCles=ASH&amp;offresPartenaires=true&amp;range=0-19&amp;rayon=10&amp;tri=0]
          li #[strong Educateur spécialisé]<br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/educateur-specialise/pyrenees-atlantiques/s38m3d64') 11 offres d&#39;emploi pour Éducateur spécialisé - Pyrénées-Atlantiques | Pôle emploi (pole-emploi.fr)]
          li #[strong Moniteur éducateur]<br> #[a(target="_blank" href='https://candidat.pole-emploi.fr/offres/emploi/moniteur-educateur/pyrenees-atlantiques/s38m1d64') 28 offres d&#39;emploi pour Moniteur-éducateur - Pyrénées-Atlantiques | Pôle emploi (pole-emploi.fr)]
    section.big-cta.pt-3.pb-3.bg-color(style="--bgColor:var(--grey1);")
      article.pl-3
        a.ml-3.btn.big-btn(href='decouvrir.html')
          span.block.cooper Découvrir 
          span.block.condensed les métiers de l'autonomie
        a.ml-3.btn.big-btn(href='se-former.html')
          span.block.cooper Se former 
          span.block.condensed aux métiers de l'autonomie
  aside
    section.pb-3.bg-color(style="--bgColor:var(--green3);")
      include ../../dist/assets_am-64/bg/top-L2R-7.svg
      +superheros
      article
        h3
          span.yellow-tick
          span.inverted CONSULTER RÉGULIÈREMENT LES OFFRES PUBLIÉES
        ul
          li
            a(target="_blank" href='https://www.its-pau.fr/annonces') par l&#39;ITS P. Bourdieu
          li
            a(target="_blank" href='https://www.emploi-territorial.fr/recherche_emploi_mobilite/1/') Par les collectivités territoriales
          li
            a(target="_blank" href='https://fr.indeed.com/jobs?q=aide%20soignante%20%C3%A0%20domicile&amp;l=Pau%20%2864%29') Sur INDEED