extends _layout.pug

block title
  title Exercer les métiers de l'autonomie  
  
block content
  main
    section
      article
        h2
          span Exercer 
          span les métiers
          span de l'autonomie