extends _layout.pug

block layoutVariables
  - var headTitle = "Exercer les métiers de l'autonomie"
  - var bodyClass = "exercer"
  
block content
  main
    section
      article
        h2
          span Exercer 
          span les métiers
          span de l'autonomie