extends _layout.pug

block layoutVariables
  - var headTitle = "Les Super-heros sont parfois discrets"
  - var bodyClass = "home"
    
block content
  main
    section
      +superheros
      article
        img(src="assets/imgs/autonomie-64_super-heros_home.jpg")
        h1
          span.inverted Aide-soignant - Accompagnant éducatif 
          span.inverted Infirmier - Aide à domicile 
          span.inverted Pourquoi pas vous ?