extends _layout.pug

block layoutVariables
  - var headTitle = "Les Super-heros sont parfois discrets"
  - var bodyClass = "home"
    
block content
  main
    section
      +superheros
      article
        div.slider
          picture
            source(srcset="assets/imgs/autonomie-64_super-heros_home.jpg" media="(min-width:1200px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_medium.jpg" media="(min-width:820px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_tab.jpg" media="(min-width:480px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_mobile.jpg" media="(min-width:320px)")
            img(src="assets/imgs/autonomie-64_super-heros_home.jpg" alt="Malika, aide-soignante à Pau")
          picture
            source(srcset="assets/imgs/autonomie-64_super-heros_home_2.jpg" media="(min-width:1200px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_medium_2.jpg" media="(min-width:820px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_tab_2.jpg" media="(min-width:480px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_mobile_2.jpg" media="(min-width:320px)")
            img(src="assets/imgs/autonomie-64_super-heros_home_2.jpg" alt="Benoît, aide-soignant à Arcangues")
          picture
            source(srcset="assets/imgs/autonomie-64_super-heros_home_3.jpg" media="(min-width:1200px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_medium_3.jpg" media="(min-width:820px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_tab_3.jpg" media="(min-width:480px)")
            source(srcset="assets/imgs/autonomie-64_super-heros_home_mobile_3.jpg" media="(min-width:320px)")
            img(src="assets/imgs/autonomie-64_super-heros_home_3.jpg" alt="Audrey, aide à domicile à Oloron Sainte-Marie")
        h1
          span.inverted Aide-soignant - Accompagnant éducatif 
          span.inverted Infirmier - Aide à domicile 
          span.inverted Pourquoi pas vous ?