extends _layout.pug

block title
  title Les Super-heros sont parfois discrets  
  
block content
  main
    section
      article
        img(src="assets/imgs/autonomie-64_super-heros_home.jpg")
        h2
          span Aide-soignant - Accompagnant éducatif 
          span Infirmier - Aide à domicile 
          span Pourquoi pas vous ?