extends _layout.pug

block layoutVariables
  - var headTitle = "Se former aux métiers de l'autonomie"
  - var bodyClass = "se-former"
  
block content
  main
    section
      article
        h2
          span Se former 
          span aux métiers 
          span de l'autonomie