extends _layout.pug

block title
  title Se former aux métiers de l'autonomie
  
block content
  main
    section
      article
        h2
          span Se former 
          span aux métiers 
          span de l'autonomie