extends _layout.pug

block layoutVariables
  - var headTitle = "Se former aux métiers de l'autonomie"
  - var bodyClass = "se-former"
  
block content
  main
    section.pt-3.bg-color(style="--bgColor:var(--purple1);")
      article
        h1.mb-3
          span.white.cooper.bigger-x250 Se former 
          span aux métiers<br>de l'autonomie
        p.offset
          strong.blue3 Vous vous #[span.under #[span interrogez sur les formations]] qui vous permettraient de pouvoir accompagner Eugénie, Raymond ou Dolores dans les meilleures conditions? Votre profil correspond-il ?
        p.offset Que vous soyez collégien, lycéen, inscrit dans une réflexion de reconversion professionnelle ou déjà en poste, à la recherche de nouvelles compétences ou d&#39;une valorisation de votre expérience, un large choix de voies d&#39;accès et de formations vous est offert.<br>Ces formations peuvent se faire en #[strong formation initiale, professionnelle, complète ou partielle, mais aussi par la voie de l&#39;alternance], qui présente l&#39;avantage de conjuguer formation théorique et pratique auprès de professionnels expérimentés.
        img.shadow(alt="Se former aux métiers de l'autonomie" src='assets/imgs/autonomie-64-se-former.jpg')
      include ../../dist/assets/bg/top-L2R-5.svg
    section.pt-3.pb-3
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;infirmier]]
        p La profession d&#39;Infirmier Diplômé d&#39;Etat (IDE) appartient à la catégorie des professionnels de santé : seul les #[strong instituts de formation en soins infirmiers (IFSI)] rattachés à un centre hospitalier peuvent préparer à ce diplôme qui s&#39;exerce dans le cadre d&#39;un #[a(target="_blank" href='https://solidarites-sante.gouv.fr/IMG/pdf/arrete_du_31_juillet_2009_annexe_2.pdf') référentiel de compétences réglementaire].
        p La formation initiale dure 3 ans et l&#39;inscription se fait désormais via Parcours Sup.
        h3.just-strong Sur le département, 3 IFSI proposent 250 places par an.
        ul
          li
            a(target="_blank" href='http://www.ch-pau.fr/nos-centres-de-formation/pole-ifsi-ifas-1/') IFSI du Centre Hospitalier de Pau
          li
            a(target="_blank" href='https://www.ch-cote-basque.fr/actualites-du-chcb/1862-formation-infirmiere-nouvelles-modalites-d-inscription-a-l-ifsi-de-bayonne') IFSI du Centre hospitalier de Bayonne
          li
            a(target="_blank" href='http://www.ch-orthez.fr/i-f-s-i/') IFSI du Centre Hospitalier d&#39;Orthez
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;aide-soignant]]
        p Tout comme la profession d&#39;infirmier, l&#39;aide-soignant entre dans la catégorie des professionnels de santé. Le diplôme se prépare dans un #[strong institut de formation d&#39;aides-soignants (IFAS)]. Ce métier s&#39;exerce lui aussi dans le cadre d&#39;un #[a(target="_blank" href='https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000024712812/') référentiel d&#39;activités et de compétences réglementaire].
        p L&#39;admission se fait sur dossier et entretien, la formation dure de 10 à 18 mois lorsqu&#39;elle se fait en apprentissage et est accessible dès l&#39;âge de 17 ans.
        h3.just-strong Sur le département, 7 IFAS proposent environ 380 places sur plusieurs sessions dans l&#39;année.
        ul
          li
            a(target="_blank" href='http://www.ch-pau.fr/nos-centres-de-formation/pole-ifsi-ifas-1/') IFAS du Centre Hospitalier de Pau
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/diplome-detat-daide-soignant-deas-pau/') IFAS du GRETA de Pau
          li
            a(target="_blank" href='https://www.ch-cote-basque.fr/recrutement-formation/l-hopital-forme') IFAS du Centre Hospitalier de Bayonne
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/diplome-detat-aide-soignant-cenon-parcours-complet-ou-parcours-partiels/') IFAS du GRETA de Bayonne
          li
            a(target="_blank" href='https://www.aiec.fr/ifas/inscriptions/') IFAS de Cambo les Bains
          li
            a(target="_blank" href='http://www.lycee-errecart.com/ifas-2022/') IFAS Jean ERRECART – St Palais
          li
            a(target="_blank" href='https://formation-continue-64.fr/page/page-d-exemple') IFAS LPR Notre Dame – Sauveterre Arzacq
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;aide à domicile]]
        p Pour devenir aide à domicile qualifié, il faut s&#39;orienter vers un diplôme d&#39;Etat d&#39;accompagnant éducatif et social. Cependant, plusieurs autres voies d&#39;accès et niveaux de qualification existent pour ce métier. Cela permet d&#39;y envisager une entrée précoce (dès la troisième CAP/BEP ou après un bac Pro) tout en envisageant un parcours de formation avec une montée en compétences vers des activités de plus en plus techniques.
        h3.just-strong Diplôme d&#39;Etat Accompagnant Educatif et Social (DEAES)
        p Le diplôme d&#39;État d&#39;accompagnant éducatif (AES) et social regroupe et remplace désormais le diplôme d&#39;auxiliaire de vie sociale (AVS) et d&#39;accompagnant médico-psychologique (AMP) et entre dans le cadre d&#39;un #[a(target="_blank" href='https://solidarites-sante.gouv.fr/IMG/pdf/deaes_referentiel_en_ligne_mss.pdf') référentiel professionnel précis].<br>Ce diplôme permet d&#39;exercer à domicile comme en établissement (en collaboration avec les aides-soignants). Une offre diversifiée sur le territoire permet la formation d&#39;un peu de moins de 500 professionnels chaque année.
        ul
          li
            a(target="_blank" href='https://www.etcharry.org/fr/formation/diplome-detat-daccompagnant-educatif-et-social-deaes') ETCHARRY Formation Developpement (Ustaritz et St Palais)
          li #[a(target="_blank" href='https://www.ch-pyrenees.fr/LE-CENTRE-DE-FORMATION-ET-DE-SIMULATION/LE-CENTRE-DE-FORMATION-INFOPSY/Folder/LE-D.E.A.E.S-Diplome-d-Etat-d-Accompagnant-Educatif-et-Social') Centre Hospitalier des Pyrénées] / #[a(target="_blank" href='https://www.its-pau.fr/formation/aes') ITS Pierre Bourdieu]
          li
            a(target="_blank" href='https://www.afec.fr/formation/sanitaire-et-social/de-aes-diplome-detat-daccompagnant-educatif-et-social/') AFEC  (Pau, Bayonne)
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/deaes-diplome-detat-accompagnant-educatif-et-social-bayonne/) (Hendaye') GRETA Pays Basque
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/deaes-diplome-detat-accompagnant-educatif-et-social-pau/') GRETA Béarn (Orthez)
        h3.just-strong Niveau 3 (CAP/BEP et Titre Pro)
        ul
          li
            a(target="_blank" href='https://www.immac-pau.com/lycees-pro/presentation') Lycée professionnel Saint Vincent de Paul (Pau)
          li
            a(target="_blank" href='https://www.lyceeleguichot.fr/') Lycée professionnel privé le Guichot (Bayonne)
          li
            a(target="_blank" href='https://www.lycee4septembre.fr/') Lycée professionnel du 4 septembre 1870 (Oloron sainte marie)
          li
            a(target="_blank" href='https://www.lycee-aizpurdi.com/') Lycée professionnel Aizpurdi (Hendaye)
          li
            a(target="_blank" href='https://www.saintjo64.fr/') Lycée professionnel privé Saint Joseph (Ustaritz)
        h3.just-strong Niveau 4 (Bac Pro ASSP et SAPAT)
        ul
          li
            a(target="_blank" href='https://lycee-metiers-orthez.fr/') Lycée professionnel Francis Jammes (Orthez)
          li
            a(target="_blank" href='https://www.immac-pau.com/lycees-pro/presentation') Lycée professionnel privé Montpensier (Pau)
          li
            a(target="_blank" href='http://paulbert.fr/') Lycée professionnel Paul Bert (Bayonne)
          li
            a(target="_blank" href='http://www.lyceeprofessionnel-morlaas.fr/') Lycée professionnel Haute-Vue (Morlaàs)
          li
            a(target="_blank" href='https://www.lycee4septembre.fr/') Lycée professionnel du 4 septembre 1870 (Oloron sainte marie)
          li
            a(target="_blank" href='https://www.saintjo64.fr/') Lycée professionnel privé Saint Joseph (Ustaritz)
          li
            a(target="_blank" href='https://stellamarisanglet.fr/') Lycée professionnel Stella Maris (Anglet)
          li
            a(target="_blank" href='https://larps-mauleon.fr/') Lycée agricole rural privé de Soule (Berrogain Laruns)
          li
            a(target="_blank" href='http://frantsesenia.com/') Lycée agricole privé Frantses Enia (Saint jean pied de port)
          li
            a(target="_blank" href='https://www.mfr-mont.fr/') Maison familiale rurale de Mont (Mont)
          li
            a(target="_blank" href='https://college-prive-64.fr/page/lycee') Lycée privé rural Notre Dame (Sauveterre de Béarn)
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;accompagnant éducatif et social]]
        p Le diplôme d&#39;État d&#39;accompagnant éducatif (AES) et social regroupe et remplace désormais le diplôme d&#39;auxiliaire de vie sociale (AVS) et d&#39;accompagnant médico-psychologique (AMP) et entre dans le cadre d&#39;un #[a(target="_blank" href='https://solidarites-sante.gouv.fr/IMG/pdf/deaes_referentiel_en_ligne_mss.pdf') référentiel professionnel précis]. Il permet d&#39;exercer à domicile comme en établissement (en collaboration avec les aides-soignants). Une offre diversifiée sur le territoire permet la formation d&#39;un peu de moins de 500 professionnels chaque année.
        ul
          li
            a(target="_blank" href='https://www.etcharry.org/fr/formation/diplome-detat-daccompagnant-educatif-et-social-deaes') ETCHARRY Formation Developpement (Ustaritz et St Palais)
          li #[a(target="_blank" href='https://www.ch-pyrenees.fr/LE-CENTRE-DE-FORMATION-ET-DE-SIMULATION/LE-CENTRE-DE-FORMATION-INFOPSY/Folder/LE-D.E.A.E.S-Diplome-d-Etat-d-Accompagnant-Educatif-et-Social') Centre Hospitalier des Pyrénées (Pau, Oloron et Mourenx)] / #[a(target="_blank" href='https://www.its-pau.fr/formation/aes') ITS Pierre Bourdieu]
          li
            a(target="_blank" href='https://www.afec.fr/formation/sanitaire-et-social/de-aes-diplome-detat-daccompagnant-educatif-et-social/') AFEC (Pau, Bayonne)
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/deaes-diplome-detat-accompagnant-educatif-et-social-bayonne/') GRETA Pays Basque (Hendaye)
          li
            a(target="_blank" href='https://greta-cfa-aquitaine.fr/fiches/deaes-diplome-detat-accompagnant-educatif-et-social-pau/') GRETA Béarn (Orthez)
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;agent des services hôteliers]]
        h3.just-strong Niveau 3 (CAP/BEP et Titre Pro)
        ul
          li
            a(target="_blank" href='https://www.immac-pau.com/lycees-pro/presentation') Lycée professionnel Saint Vincent de Paul (Pau)
          li
            a(target="_blank" href='https://www.lyceeleguichot.fr/') Lycée professionnel privé le Guichot (Bayonne)
          li
            a(target="_blank" href='https://www.lycee4septembre.fr/') Lycée professionnel du 4 septembre 1870 (Oloron sainte marie)
          li
            a(target="_blank" href='https://www.lycee-aizpurdi.com/') Lycée professionnel Aizpurdi (Hendaye)
          li
            a(target="_blank" href='https://www.saintjo64.fr/') Lycée professionnel privé Saint Joseph (Ustaritz)
          li
            a(target="_blank" href='https://www.afpa.fr/web/afpa/resultats-de-recherche?articleId=ETAB_64010&amp;secteurId=Services%20aux%20entreprises%20et%20%C3%A0%20la%20personne&amp;searchFormationsOnly=true&amp;_rechercheresultatsportlet_WAR_rechercheportlet_currentTab=formations') AFPA Pau et AFPA Bayonne
        h3.just-strong Niveau 4 (Bac Pro ASSP et SAPAT)
        ul
          li
            a(target="_blank" href='https://lycee-metiers-orthez.fr/') Lycée professionnel Francis Jammes (Orthez)
          li
            a(target="_blank" href='https://www.immac-pau.com/lycees-pro/presentation') Lycée professionnel privé Montpensier (Pau)
          li
            a(target="_blank" href='http://paulbert.fr/') Lycée professionnel Paul Bert (Bayonne)
          li
            a(target="_blank" href='http://www.lyceeprofessionnel-morlaas.fr/') Lycée professionnel Haute-Vue (Morlaàs)
          li
            a(target="_blank" href='https://www.lycee4septembre.fr/') Lycée professionnel du 4 septembre 1870 (Oloron sainte marie)
          li
            a(target="_blank" href='https://www.saintjo64.fr/') Lycée professionnel privé Saint Joseph (Ustaritz)
          li
            a(target="_blank" href='https://stellamarisanglet.fr/') Lycée professionnel Stella Maris (Anglet)
          li
            a(target="_blank" href='https://larps-mauleon.fr/') Lycée agricole rural privé de Soule (Berrogain Laruns)
          li
            a(target="_blank" href='http://frantsesenia.com/') Lycée agricole privé Frantses Enia (Saint jean pied de port)
          li
            a(target="_blank" href='https://www.mfr-mont.fr/') Maison familiale rurale de Mont (Mont)
          li
            a(target="_blank" href='https://college-prive-64.fr/page/lycee') Lycée privé rural Notre Dame (Sauveterre de Béarn)
      article
        h2.yellow-star Se former au métier #[span.under #[span d&#39;éducateur spécialisé]]
        ul
          li
          a(target="_blank" href='https://www.its-pau.fr/formation/es') ITS Pierre BOURDIEU
          li
          a(target="_blank" href='https://etcharry-formation-developpement.fr/fr/formation/diplome-detat-deducateur-specialise') Etcharry Formation Développement
      article
        h2.yellow-star Se former au métier #[span.under #[span de moniteur éducateur]]
        ul
          li
            a(target="_blank" href='https://etcharry-formation-developpement.fr/fr/formation/diplome-detat-deducateur-specialise') Etcharry Formation Développement
          li
            a(target="_blank" href='https://www.its-pau.fr/formation/me') ITS Pierre BOURDIEU
  aside
    section.white.pb-3.bg-color(style="--bgColor:var(--purple2);")#aides
      article
        h2
          span.block.blacker Découvrir les 
          span.block.cooper.bigger-x150 aides 
          span.block.blacker pour 
          span.block.cooper.bigger-x150  se former
        span.yellow-tick
        h3.inverted MINISTERE DU TRAVAIL
        ul
          li
            a(target="_blank" href='https://travail-emploi.gouv.fr/formation-professionnelle/') La formation Professionnelle
          li
            a(target="_blank" href='https://travail-emploi.gouv.fr/formation-professionnelle/formation-des-demandeurs-d-emploi/') La formation des demandeurs d&#39;emploi
          li
            a(target="_blank" href='https://travail-emploi.gouv.fr/formation-professionnelle/formation-en-alternance-10751/') Se former par l&#39;alternance
          li
            a(target="_blank" href='https://www.francecompetences.fr/') France compétences
        span.yellow-tick
        h3.inverted SITE PÔLE EMPLOI
        ul
          li
            a(target="_blank" href='https://www.pole-emploi.fr/actualites/a-laffiche/vous-avez-5-minutes--trouvez-vos.html)') Les aides via le dispositif « 1 Jeune, 1 solution »
          li
            a(target="_blank" href='https://www.pole-emploi.fr/candidat/en-formation/mes-aides-financieres/laide-individuelle-a-la-formatio.html#:~:text=L%E2%80%99Aide%20individuelle%20%C3%A0%20la%20formation%20couvre%20l%E2%80%99int%C3%A9gralit%C3%A9%20du,charge%20en%20mobilisant%20votre%20Compte%20personnel%20de%20formation.') Portail Formation
          li
            a(target="_blank" href='https://www.pole-emploi.fr/candidat/en-formation/mes-aides-financieres/laide-aux-frais-pedagogiques.html') L&#39;aide aux frais pédagogiques
        span.yellow-tick
        h3.inverted CONSEIL ET ACCOMPAGNEMENT DES JEUNES 16-25 ANS
        ul
          li
            a(target="_blank" href='https://www.mljpau.fr/') Mission Locale Pau-Pyrénées
          li
            a(target="_blank" href='https://www.missionlocale-paysbasque.org/') Mission Locale Pays Basque
        span.yellow-tick
        h3.inverted CAP&#39;METIERS
        ul
          li
            a(target="_blank" href='https://www.cap-metiers.fr/qui-fait-quoi-en-nouvelle-aquitaine?q=&amp;hPP=10&amp;idx=KIFEKOI&amp;p=0&amp;dFR%5BCOORDONNEES.DEPARTEMENT%5D%5B0%5D=Pyr%C3%A9n%C3%A9es-Atlantiques') CAP&#39;METIERS Nouvelle Aquitaine
      article
        img(alt="Découvrir les aides pour se former" src='assets/imgs/autonomie-64-aides-formation.jpg')
    section.big-cta.pt-3.pb-3.bg-color(style="--bgColor:var(--grey1);")
      article.pl-3
        a.ml-3.btn.big-btn(href='decouvrir.html')
          span.block.cooper Découvrir 
          span.block.condensed les métiers de l'autonomie
        a.ml-3.btn.big-btn(href='exercer.html')
          span.block.cooper Exercer 
          span.block.condensed les métiers de l'autonomie
    section.pb-3.bg-color(style="--bgColor:var(--green3);")
      include ../../dist/assets/bg/top-R2L-7.svg
      +superheros