@import "reset";

/* vars */

:root{

  --unit: clamp(18px, 2.75vw, 24px);
  --maxWidth: 1024px;

  --condensed: 'oswald';
  --europa: 'europa';
  --cooper: 'cooper-black-std';
  --blacker: 'Conv_Blacker-Pro-Display-Regular';

  --white: white;
  --black: black;

  --grey1: #EFEDED;
  --grey2: #A7A7A7;
  --grey3: #707070;
  --grey4: #343434;

  --green1: #80EBCE;
  --green2: #76EBCF;
  --green3: #36D0A6;

  --blue1: #2A96D4;
  --blue2: #004B83;
  --blue3: #1A4B7F;

  --purple1: #D5B6FF;
  --purple2: #C581D6;
  --purple3: #AA5ABE;
  --purple4: #615CF0;

  --pink1: #FE2E6E;

  --yellow1: #FFDA4F;

}

/* typo */

@font-face {
	font-family: 'Conv_Blacker-Pro-Display-Regular';
	src: url('assets/fonts/Blacker-Pro-Display-Regular.eot');
	src: local('☺'), url('assets/fonts/Blacker-Pro-Display-Regular.woff') format('woff'), url('fonts/Blacker-Pro-Display-Regular.ttf') format('truetype'), url('fonts/Blacker-Pro-Display-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{
  font-size: var(--unit);
}
body{
  line-height: 1.25;
  font-family: var(--europa);
  color: var(--blue3);
}
h1{
  font-size: 1.833rem;
  font-family: var(--blacker);
  line-height: 1;
  margin-bottom: .5em;
  span{
    display: block;
  }
}
h2, .h2{
  font-size: 1.35rem;
  margin-bottom: .5em;
}
h3{
  font-size: 1.2rem;
  margin-bottom: .5em;
}
h4{
  font-size: 1.1rem;
}

p:not(:last-child),
ul:not(:last-child){
  margin-bottom: 1em;
}
li{
  list-style-position: inside;
}
strong, .strong{
  font-weight: 700;
  color: var(--purple3);
}
.just-strong{
  @extend .strong;
  font-size: 1rem;
  margin-bottom: 0;
}
a{
  color: var(--purple4);
  transition: all .3s;
  &:hover{
    color: var(--blue3);
  }
}
.l-spaced{
  letter-spacing: .04em;
}

/* Layout */


body > *{
  padding: 0 1.25rem;
  &:is(header,main,section,aside),
  &:is(footer) nav{
    margin-right: auto;
    margin-left: auto;
    max-width: 1480px;
  }
}
section > h2,
article{
  padding: 0 1.25rem;
  max-width: var(--maxWidth);
  @media(min-width: 1024px){
    margin-left: auto;
    margin-right: auto;
  }
}
article{
  margin-bottom: 3rem;
}


/* Margin and padding */

:root{
  --unitMarge: calc(var(--unit) / 3);
}
@media (min-width: 640px){
  :root{
    --unitMarge: calc(var(--unit) / 2);
  }
}
@media (min-width: 960px){
  :root{
    --unitMarge: var(--unit);
  }
}

$unit: var(--unitMarge);

@for $i from 0 through 4{
  .m-#{$i}{ margin: calc(#{$unit} * #{$i}); }
  .mt-#{$i}{ margin-top: calc(#{$unit} * #{$i}); }
  .ml-#{$i}{ margin-left: calc(#{$unit} * #{$i}); }
  .mb-#{$i}{ margin-bottom: calc(#{$unit} * #{$i}); }
  .mr-#{$i}{ margin-right: calc(#{$unit} * #{$i}); }
  .p-#{$i}{ padding: calc(#{$unit} * #{$i}); }
  .pt-#{$i}{ padding-top: calc(#{$unit} * #{$i}); }
  .pl-#{$i}{ padding-left: calc(#{$unit} * #{$i}); }
  .pb-#{$i}{ padding-bottom: calc(#{$unit} * #{$i}); }
  .pr-#{$i}{ padding-right: calc(#{$unit} * #{$i}); }
}

/* Font colors */

.white{
  color: var(--white);
  *{
    color: var(--white);
  }
}
.blue3{
  color: var(--blue3);
  *{
    color: var(--blue3);
  }
}
.purple2{
  color: var(--purple2);
  *{
    color: var(--purple2);
  }
}

.inverted{
  background-color: var(--white);
  color: var(--bgColor, var(--white));
  font-family: var(--condensed);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  @media(min-width: 960px){

    font-size: .9rem;
  }
  padding: .25rem .75rem;
  &.green{
    background-color: var(--green3);
  }
}
.under{
  position: relative;
  span{
    position: relative;
    z-index: 1;
    @media(min-width: 400px){
      white-space: nowrap;
    }
  }
  &::after{
    content: '';
    position: absolute;
    display: block;
    top: .75em;
    left: 0;
    z-index: 0;
    height: .55em;
    width: 100%;
    background-color: var(--underColor, var(--green1));
  }
}

/* Micro framework */

.europa{
  font-family: var(--europa);
}
.cooper{
  font-family: var(--cooper);
}
.blacker{
  font-family: var(--blacker);
}
.condensed{
  font-family: var(--condensed);
  text-transform: uppercase;
}
.block{
  display: block;
}
.bigger-x250{
  font-size: 175%;
  @media(min-width: 600px){
    font-size: 250%;
  }
  @media(max-width: 400px){
    font-size: 150%;
  }
}
.bigger-x200{
  font-size: 150%;
  @media(min-width: 600px){
    font-size: 200%;
  }
}
.bigger-x150{
  font-size: 125%;
  @media(min-width: 600px){
    font-size: 150%;
  }
}
.bigger-x125{
  font-size: 112.5%;
  @media(min-width: 600px){
    font-size: 125%;
  }
}

@media(min-width: 960px){
  .offset{
    margin-left: 25%;
  }
}
.green-star{
  background: url('assets/bg/green-star.svg') no-repeat;
  background-size: contain;
  padding: 2rem 0 2rem 2rem;
  transform: translateX(-2rem);
}
.yellow-star{
  background: url('assets/bg/yellow-star.svg') no-repeat;
  background-size: contain;
  padding: 1rem 0 1rem 2rem;
  transform: translateX(-2rem);
  margin-bottom: 0;
}
.shadow{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Assets generics */

.video{
  position: relative;
  iframe{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
.btn{
  display: inline-block;
  background-color: var(--pink1);
  text-decoration: none;
  text-align: center;
  color: var(--white);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  transition: all .1s;
  @extend .mt-1;
  @extend .mb-3;
  &:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    transform: translate(-5px, -5px);
    color: var(--white);
  }
  font-size: .9rem;
  border-radius: 1.5rem;
  padding: .5em 1em;
  &.big-btn{
    font-size: 1.2rem;
    padding: 1.25em 2.5em;
    border-radius: 2.5em;
  }
}
.download{
  font-family: var(--condensed);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--green3);
  font-size: .9rem;
  display: inline-flex;
  align-items: center;
  @media(min-width: 960px){
    font-size: .75rem;
  }
  div.svg-bg{
    width: 48px;
    height: 48px;
    background: url('assets/bg/download.svg') no-repeat center;
    background-size: contain;
    max-height: 2.5em;
    margin-left: .35em;
    transition: all .2s;

  }
  &:hover{
    text-decoration: underline;
    div.svg-bg{
      transform: scale(1.1) rotate(-5deg);
    }
  }
}
.superheros{
  display: inline-block;
  padding: 3.25em 3.5em;
  background: url('assets/bg/superheros.svg') no-repeat center;
  background-size: contain;
  .cooper{
    line-height: .9;
  }
}
@mixin superheros(){
  position: relative;
  z-index: 0;
  .superheros{
    @media (min-width: 300px){
      position: absolute;
      top: 0;
      right: -1rem;
      transform: translateY(calc(-40% - 3rem));
    }
    @media (min-width: 960px){
      right: 3rem;
      transform: translateY(calc(-50% - 3rem));
    }
  }
}
.yellow-tick{
  display: inline-block;
  width: 2.5em;
  height: 1em;
  margin-right: .5em;
  background-color: var(--yellow1);
}
/* Backgrounds, image and colors */

.bg-color{
  background-color: var(--bgColor);
  svg{
    &.bg{
      display: block;
      overflow: visible;
      &:first-child{
        transform: translateY(-98%);
      }
      &:last-child{
        transform: translateY(98%) rotate(180deg);
      }
      path{
        fill: var(--bgColor);
      }
    }
  }
}

/* Components */

header{
  .superheros-text{
    font-size: .8rem;
    font-weight: 700;
    margin: 1rem 0;
    @media(min-width: 600px){
      margin:0;
      transform: translateY(120%);
    }
  }
  nav{
    a{
      text-decoration: none;
    }
    ul{
      display: flex;
      flex-direction: column;
      @media(min-width: 600px){
        flex-direction: row;
        align-items: center;
        gap: .5rem;
      }
    }
    li:not(:last-of-type){
      text-transform: uppercase;
      font-family: var(--condensed);
      font-weight: 700;
      font-size: .9rem;
      white-space: nowrap;
      @media(min-width: 960px){
        font-size: .75rem;
      }
      a{
        color: var(--blue2);
      }
    }
    li:last-of-type{
      align-self: flex-end;
      transform: translateY(-100%);
      @media(min-width: 600px){
        transform: translateY(-.8rem);
        margin-left: auto;
      }
      @media (min-width: 1040px){
        transform: translateY(0);
      }
      @media (max-width: 440px){
        transform: translateY(-.8rem);
      }

      a{
        color: var(--blue1);
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        text-align: right;
        svg{
          margin-left: 1em;
        }
      }
    }
  }
  @media(min-width: 1040px){
    display: flex;
    align-items: center;
    .superheros-text{
      border-right: 1px solid var(--blue2);
      margin-bottom: 0;
      margin-right: .8rem;
      padding: .25em 0;
      padding-right: .8rem;
      transform: translateY(0);
    }
    nav{
      flex-grow: 1;
    }
  }
}

footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  ul{
    display: flex;
    font-size: .9rem;
    @media(min-width: 960px){
      font-size: .75rem;
    }
    li:not(:last-of-type){
      border-right: 1px solid var(--grey2);
      padding-right: .75rem;
      margin-right: .75rem;
    }
    a{
      color: var(--grey2);
      text-decoration: none;
      &:hover{
        color: var(--white);
      }
    }
  }
}

/* Home page */

.home{

}

/* Page découvrir */

.decouvrir{
  h1 span:last-of-type{
    display: inline-block;
    background: url('assets/bg/sun-1.svg') no-repeat;
    background-position: bottom right;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
  }
  main{

    section:first-of-type article:first-of-type{
      position: relative;
      padding-bottom: 2rem;
      .video{

        position: absolute;
        transform: translateY(100%);
        bottom: 0;
        width: calc(100% - 2.5rem);
        z-index: 10;
      }

    }
    section:nth-of-type(2){
      > article:first-of-type{
        padding-top: calc(56.25% / 2 + 4rem);
        @media(min-width: 1024px){
          padding-top: calc(576px / 2 + 6rem);
        }
      }
      .card{
        background-color: var(--white);
        max-width: calc(var(--maxWidth) + 3rem);
        padding: 1rem 0;

        article{
          padding: 0;
        }
        @media (min-width: 960px){
          padding: 3rem;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          h2{
            flex-basis: 100%;
            position: relative;
            z-index: 1;
          }
          article:first-of-type{
            flex-basis: 100%;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto;
            grid-template-areas:
            "img first"
            "img last";
            position: relative;
            padding-bottom: 3rem;
            img{
              grid-area: img;
              position: absolute;
              z-index: 0;
              transform: rotate(-15deg) translate(-50%, -50%) scale(1.5);
            }
            p{
              grid-area: first;
            }
            p:last-of-type{
              grid-area: last;
            }
          }
          article{
            flex-basis: calc(50% - 2rem);
          }
        }
      }
    }
    section:nth-of-type(3){
      background-image: url('assets/bg/star-points.png');
      background-repeat: no-repeat;
      @media (min-width: 960px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2{
          flex-basis: 100%;
          position: relative;
          z-index: 2;
        }
        article:first-of-type{
          flex-basis: 100%;
          max-width: var(--maxWidth);
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-template-rows: auto;
          position: relative;
          padding-bottom: 3rem;
          .images{
            position: relative;
            img{
              position: absolute;
              z-index: 1;
              transform: rotate(-15deg) translate(-80%, -60%) scale(1.5);
              &:last-of-type{
                transform: rotate(10deg) translate(-30%, 100%) scale(1.25);
                z-index: 0;
              }
            }
          }
        }
        article{
          max-width: calc(var(--maxWidth) / 2);
          flex-basis: 50%;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    section:nth-of-type(4){
      background-image: url('assets/bg/star-points-yellow.png');
      background-repeat: no-repeat;
      background-size: contain;
      > article{
        transform: rotate(-4deg);
        position: relative;
        z-index: 1;
        .big-btn{
          margin-bottom: 1rem;
        }
      }
    }
  }
  aside{
    > div{
      padding-bottom: 6.5vw;
      @media (max-width: 640px){
        padding-top: 20vw;
        section article:first-of-type{
          margin-top: 10vw;
        }
      }
    }
    section{
      @include superheros();
    }
    @media (min-width: 960px){
      article{
        &:first-of-type{
          margin-top: 3rem;
        }
        display: flex;
        gap: 3rem;
        align-items: flex-end;
        > a{
          min-width: 540px;
          .mb-1{
            margin-bottom: 0;
          }
        }
        &:nth-of-type(even) .textes{
          order: -1;
        }
      }
    }
  }
}

/* Page "Se former" */

.se-former{
  h1 span:last-of-type{
    display: inline-block;
    background: url('assets/bg/sun-2.svg') no-repeat;
    background-position: center;
    background-size: contain;
    padding-bottom: 1rem;
  }
  main{
    section:first-of-type{
      background-image: url('assets/bg/splash-points-white.png');
      background-repeat: no-repeat;
      background-position: calc(100% + 100px) -100px;
      article:first-of-type{
        position: relative;
        padding-bottom: 3rem;
        img{
          position: absolute;
          z-index: 10;
          transform: translateY(100%);
          bottom: 0;
          width: calc(100% - 2.5rem);

        }
      }
    }
    section:nth-of-type(2){
      > article:first-of-type{
        padding-top: calc(56.25% / 2 + 4rem);
        @media(min-width: 1024px){
          padding-top: calc(576px / 2 + 6rem);
        }
      }
    }
  }
  aside{
    section:first-of-type{
      background-image: url('assets/bg/sun-2.svg');
      background-repeat: no-repeat;
      background-position: calc(100% + 190px) -190px;
      padding-bottom: 1.25rem;
      article:last-of-type{
        margin-bottom: 0;
      }
      @media(min-width: 1024px){
        background-position: calc(50% - 50px) -190px;
        padding-bottom: 0;
        display: flex;
        h2{
          margin-bottom: 1em;
        }
        article:first-of-type{
          margin-bottom: 0;
        }
        article:last-of-type{
          padding: 0;
          margin: 0;
          display: flex;
          img{
            object-fit: cover;
          }
        }
      }
      article:first-of-type{
        padding-top: 2rem;
        h2{
          text-align: right;
          .cooper{
            line-height: 1;
          }
        }
        h3.inverted{
          color: var(--purple3);

        }
        ul{
          margin-left: calc(3rem + .25em);
          margin-bottom: 2rem;
        }
      }
    }
    section:nth-of-type(2){
      background-image: url('assets/bg/star-points-yellow.png');
      background-repeat: no-repeat;
      background-position: left center;
      article{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 2;
        a.btn{
          margin-bottom: 1rem;
        }
      }
    }
    section:last-of-type{
      @include superheros();
      padding-bottom: 4rem;
    }
  }
}