@import "reset";

/* vars */

:root{

  --unit: clamp(18px, 2.75vw, 24px);

  --condensed: 'oswald';
  --europa: 'europa';
  --cooper: 'cooper-black-std';
  --blacker: 'Conv_Blacker-Pro-Display-Regular';

  --white: white;
  --black: black;

  --grey1: #EFEDED;
  --grey2: #A7A7A7;
  --grey3: #707070;
  --grey4: #343434;

  --green1: #80EBCE;
  --green2: #76EBCF;
  --green3: #36D0A6;

  --blue1: #2A96D4;
  --blue2: #004B83;
  --blue3: #1A4B7F;

  --purple1: #D5B6FF;
  --purple2: #C581D6;
  --purple3: #AA5ABE;
  --purple4: #615CF0;

  --pink1: #FE2E6E;

  --yellow1: #FFDA4F;

}

/* typo */

@font-face {
	font-family: 'Conv_Blacker-Pro-Display-Regular';
	src: url('assets/fonts/Blacker-Pro-Display-Regular.eot');
	src: local('☺'), url('assets/fonts/Blacker-Pro-Display-Regular.woff') format('woff'), url('fonts/Blacker-Pro-Display-Regular.ttf') format('truetype'), url('fonts/Blacker-Pro-Display-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{
  font-size: var(--unit);
}
body{
  line-height: 1.25;
  font-family: var(--europa);
  color: var(--blue3);
}
h1{
  font-size: 1.833rem;
  font-family: var(--blacker);
  line-height: 1;
  margin-bottom: .5em;
  span{
    display: block;
  }
}
h2, .h2{
  font-size: 1.35rem;
  margin-bottom: .5em;
}
h3{
  font-size: 1.2rem;
  margin-bottom: .5em;
}
h4{
  font-size: 1.1rem;
}

p:not(:last-child),
ul:not(:last-child){
  margin-bottom: 1em;
}
li{
  list-style-position: inside;
}
strong, .strong{
  font-weight: 700;
  color: var(--purple3);
}
.just-strong{
  @extend .strong;
  font-size: 1rem;
  margin-bottom: 0;
}
a{
  color: var(--purple4);
  &:hover{
    color: var(--blue3);
  }
}

/* Layout */

body > *{
  padding: 0 1rem;
}
section > h2,
article{
  padding: 0 var(--unit);
}
article{
  margin-bottom: calc(var(--unit) * 3);
}

/* Micro framework */

.europa{
  font-family: var(--europa);
}
.cooper{
  font-family: var(--cooper);
}
.condensed{
  font-family: var(--condensed);
}

.bigger-x250{
  font-size: 175%;
  @media(min-width: 600px){
    font-size: 250%;
  }
}
.bigger-x150{
  font-size: 125%;
  @media(min-width: 600px){
    font-size: 150%;
  }
}

/* Margin and padding */

$unit: var(--unit);
@for $i from 1 through 3{
  .m-#{$i}{ margin: calc(#{$unit} * #{$i}); }
  .mt-#{$i}{ margin-top: calc(#{$unit} * #{$i}); }
  .ml-#{$i}{ margin-left: calc(#{$unit} * #{$i}); }
  .mb-#{$i}{ margin-bottom: calc(#{$unit} * #{$i}); }
  .mr-#{$i}{ margin-right: calc(#{$unit} * #{$i}); }
  .p-#{$i}{ padding: calc(#{$unit} * #{$i}); }
  .pt-#{$i}{ padding-top: calc(#{$unit} * #{$i}); }
  .pl-#{$i}{ padding-left: calc(#{$unit} * #{$i}); }
  .pb-#{$i}{ padding-bottom: calc(#{$unit} * #{$i}); }
  .pr-#{$i}{ padding-right: calc(#{$unit} * #{$i}); }
}

/* Font colors */

.white{
  color: var(--white);
  *{
    color: var(--white);
  }
}
.blue3{
  color: var(--blue3);
  *{
    color: var(--blue3);
  }
}

.inverted{
  background-color: var(--white);
  color: var(--bgColor, var(--white));
  font-family: var(--condensed);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  @media(min-width: 960px){

    font-size: .9rem;
  }
  padding: .25rem .75rem;
  &.green{
    background-color: var(--green3);
  }
}
.under{
  position: relative;
  span{
    position: relative;
    z-index: 1;
    @media(min-width: 400px){
      white-space: nowrap;
    }
  }
  &::after{
    content: '';
    position: absolute;
    display: block;
    top: .75em;
    left: 0;
    z-index: 0;
    height: .55em;
    width: 100%;
    background-color: var(--underColor, var(--green1));
  }
}

/* Assets */

/* Backgrounds, image and colors */

.bg-color{
  background-color: var(--bgColor);
  svg{
    &.bg{
      display: block;
      overflow: visible;
      &:first-child{
        transform: translateY(-98%);
      }
      &:last-child{
        transform: translateY(98%) rotate(180deg);
      }
      path{
        fill: var(--bgColor);
      }
    }
  }
}