@import "reset";

/* vars */

:root{
  --condensed: 'oswald';
  --cooper: 'cooper-black-std';
  --blacker: 'Conv_Blacker-Pro-Display-Regular';
}

/* typo */

@font-face {
	font-family: 'Conv_Blacker-Pro-Display-Regular';
	src: url('assets/fonts/Blacker-Pro-Display-Regular.eot');
	src: local('☺'), url('assets/fonts/Blacker-Pro-Display-Regular.woff') format('woff'), url('fonts/Blacker-Pro-Display-Regular.ttf') format('truetype'), url('fonts/Blacker-Pro-Display-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
  font-size: 16px;
}

h1{
  font-size: 2rem;
  font-family: var(--blacker);
}